.header-fixed {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 3px 60px;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.Navbar {
  width: 65%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--primaryFont);
}
.Navbar > a {
  color: #1d9bf0;
}
.SideNavbar {
  width: 65%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--primaryFont);
}
.SideNavbar > a {
  color: #1d9bf0;
}
.hamburger {
  font-size: 25px;
  color: white;
  display: none;
}
@media (max-width: 1120px) {
  .Navbar {
    width: 75%;
  }
  .SideNavbar {
    width: 75%;
  }
}
@media (max-width: 940px) {
  .header-fixed {
    padding: 3px 20px;
  }

  .Navbar {
    width: 85%;
  }
  .SideNavbar {
    width: 85%;
  }
}
@media (max-width: 800px) {
  .hamburger {
    display: unset;
  }
  .Navbar {
    position: fixed;
    /* top: 88px; */
    top: 15vh;
    width: 50%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: var(--primaryFont);
    background-color: #15202b;
    right: 0px;
    transform: translateX(100%);
    padding: 0px 30px;
    border-radius: 8px;
    transition: transform 500ms;
  }
  .SideNavbar {
    position: fixed;
    top: 15vh;
    width: 50%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--primaryFont);
    background-color: #15202b;
    right: 0px;
    transform: translateX(0%);
    padding: 0px 30px;
    border-radius: 8px;
    transition: transform 400ms;
  }
}
@media (max-width: 600px) {
  .hamburger {
    display: unset;
  }
  .Navbar {
    position: fixed;
    /* top: 88px; */
    top: 15vh;
    width: 60%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: var(--primaryFont);
    background-color: #15202b;
    right: 0px;
    transform: translateX(100%);
    padding: 0px 30px;
    border-radius: 8px;
    transition: transform 500ms;
  }
  .SideNavbar {
    position: fixed;
    top: 15vh;
    width: 60%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--primaryFont);
    background-color: #15202b;
    right: 0px;
    transform: translateX(0%);
    padding: 0px 30px;
    border-radius: 8px;
    transition: transform 400ms;
  }
}